* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  bottom: 0px;
  /* object-position: 10%; */
  outline: 5px dotted green;
  outline-color: #333;
}

.slide {
  position: absolute;
  bottom: 0;
  /* margin-left: 16%; */
  width: 30%;
  height: 10%;
  opacity: 1;
  outline: 5px dotted green;
  outline-color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}

.slide.content {
  position: absolute;
  text-align: center;
  padding: 10px;
  
}

/* Background Images */

/* .slide:first-child { */
.slide1{
  background: url('https://www.moviemania.io/download/dm778w961d/2560x1600') no-repeat center top/cover ;
  background-size: cover;
}

.slide2 {
  background: url('https://source.unsplash.com/BeOW_PJjA0w/1600x900') no-repeat center top/cover;
  background-size: cover;
}

.slide3 {
  background: url('https://www.moviemania.io/download/dm778w961d/2560x1600') no-repeat center top/cover;
  /* background-size: contain; */
}

.slide4 {
  background: url('https://source.unsplash.com/yXpA_eCbtzI/1600x900') no-repeat center top/cover;
  /* background-size: contain; */

}

.slide5 {
  background: url('https://source.unsplash.com/ULmaQh9Gvbg/1600x900') no-repeat center top/cover;
}

.slide6 {
  background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat center center/cover;
}