.Home .lander {
  padding: 100px 0;
  text-align: center;
}

/* .Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
} */

.Home .lander h1 {
  margin-top: 150px
  /* top: 50% */
}
.Home .lander h5 {
  margin-top: 15px;
  /* color: #999; */
}